.header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("/Users/theo/Documents/Projects/DasmotosArtsAndCrafts/resources/pattern.jpeg");
}

.subheadings {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.prices {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
